<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :subject, style: "display: block" %>
    <%= form.text_field :subject %>
  </div>

  <div>
    <%= form.label :student, style: "display: block" %>
    <%= form.text_field :student %>
  </div>

  <div>
    <%= form.label :teacher, style: "display: block" %>
    <%= form.text_field :teacher %>
  </div>

  <div>
    <%= form.label :subject_id, style: "display: block" %>
    <%= form.text_field :subject_id %>
  </div>

  <div>
    <%= form.label :teacher_id, style: "display: block" %>
    <%= form.text_field :teacher_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
